<!Doctype>
<html ng-app='first'>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
	<script src=main.js></script>
	<title>angular101</title>
</head>
<body ng-controller="display">
	<h1>welcome to my world</h1>
	<p ng-model=>Whether you select the $10 or Black Card membership, just belonging to Planet Fitness has its perks. You get to work out in a comfortable Judgement Free Zone ®. Every member gets to take part in Pizza Mondays and Bagel Tuesdays. You have access to the club anytime (well, anytime it's open). And you get to ask the staff for help with whatever you need. Plus, they'llpalso throw in a "hi" and a "goodbye" for free. Just because they like to <ng-bind="attach" /p>
	<button ng-click="Excam()"> click here to excite </button>
</body>
</html>