<!DOCTYPE html>
<html ng-app="CakeApp">
    <head>
        <title>Factories and Filters!</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script src="app.js"></script>
        <script src="app.controller.menu.js"></script>
        <script src="app.controller.pos.js"></script>
        <script src="app.factory.cheesecake.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
        </style>
    </head>
    <body class="container">
        <div ng-controller="MenuController as Menu">
            <ul>
                <h1>{{ Menu.title }}</h1>
                <input type="text" class="form-control" placeholder="Search" ng-model="Menu.search">
                <li ng-repeat="item in Menu.items">
                    <!--  Speaking in code: Double mustaches == Angular Expression -->
                    <!--  using a filter in an expression: {{ vaule | builtInfilterFunction }}-->
                    {{ item.name }} - <b>{{ item.price | currency }}</b>, calories: {{ item.calories }}
                </li>
            </ul>
        </div>
        <div ng-controller="MenuOrderController as MenuOrder">

        </div>
    </body>
</html>