.container{
	background-image: url("http://screenshots.en.sftcdn.net/en/scrn/3333000/3333543/minecraft-creeper-wallpaper-01-700x437.jpg"); 
	width: 75%;
	height: 600px;
	background-size: 100% 100%;
	opacity: 0.8
}

